<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-2 pt-5 product-show">
      <%= attachment_image_tag @product, :image, :fill, 350, 350, format: 'jpeg', fallback: "no_image.jpg" %>
    </div>

    <div class="col-md-7 pt-5 product-show">
      <br>
      <h3><%= @product.name %></h3>
      <br>
      <%= @product.description %>

      <div class="product-price">
        <br>
        <br>
        <h4>¥ <%= @product.tax_price.to_s(:delimited) %>
        <span>(税込)</span>
        </h4>
      </div>

      <div class="field">
        <br>
        <br>
        <% if @product.is_active == true %>
          <% if @product.genre.is_active == true %>
            <%= form_with model: @cart_item, url: customers_cart_items_path, method: post do |f| %>
              <%= f.select :quantity, options_for_select((1..10).to_a), include_blank: "個数選択" %>
              <%= f.submit "カートに入れる", class: 'btn btn-success' %>
            <% end %>
          <% else %>
            <h4 class="text-danger">販売停止中</h4>
          <% end %>
        <% elsif @product.is_active == false %>
          <h4 class="text-danger">販売停止中</h4>
        <% end %>
      </div>

    </div>
  </div>
</div>