<h2>会員一覧</h2>
<table>
  <thead>
    <tr>
      <td>会員ID</td>
      <td><%= link_to "氏名",customers_path %></td>
      <td>メールアドレス</td>
      <td>ステータス</td>
    </tr>
  </thead>
  <% @customers.each do |customer| %>
  <tbody>
    <tr><%= customer.id %></tr>
    <tr><%= link_to "#{customer.family_name}+#{customer.first_name}",customer_path(customer) %></tr>
    <tr><%= customer.email %></tr>
    <tr><%= customer.is_deleted ? '退会',class:"text-secondary" : '有効',class:"text-success" %></tr>
  </tbody>
  <% end %>
</table>

<%= paginate @customers %>
