<p>会員一覧</p>
<table>
  <thead>
    <tr>会員ID</tr>
    <tr>氏名</tr>
    <tr>メールアドレス</tr>
    <tr>ステータス</tr>
  </thead>
<% @customers.each do |customer| %>
  <tbody>
    <tr><%= customer.id %></tr>
    <tr><%= link_to "#{customer.family_name}+#{customer.first_name}",customer_path(customer) %></tr>
    <tr><%= customer.email %></tr>
    <tr><%= customer.is_deleted %></tr>
  </tbody>
</table>
<% end %>
<%= paginate @customers %>
