<div class="container">
  <div class = "row">
    <div class = "col-md-8 offset-md-2 w-100">
      <span class="bg-light">会員一覧</span>
      <table class="w-100">
        <thead>
          <tr class="border-top bg-light">
            <td class="pt-2 pb-2">会員ID</td>
            <td><u><%= link_to "氏名",admin_customers_path,class:"text-dark" %></u></td>
            <td>メールアドレス</td>
            <td>ステータス</td>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
        <tbody>
          <tr class="border-top border-bottom">
            <td class="pt-2 pb-2"><%= customer.id %></td>
            <td><u><%= link_to "#{customer.family_name}#{customer.first_name}",admin_customer_path(customer),class:"text-dark" %></u></td>
            <td><%= customer.email %></td>
            <td>
              <% if (customer.is_deleted?) %>
                <div class="text-secondary">退会</div>
              <% else %>
                <div class="text-success">有効</div>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>


