<h2>注文履歴一覧</h2>
<table>
  <tr>
    <td>購入日時</td>
    <td>購入者</td>
    <td>注文個数</td>
    <td>注文ステータス</td>
  </tr>
  <% sum = 0 %>
  <% @orders.each do |order| %>
  <tr>
    <td><%=link_to "#{order.created_at}",admin_order_path(order) %></td>
    <td><%=order.customer.name %></td>
    <% order.order_items.each do |order_item| %>
      <% sum += order_item.quantity %>
    <% end %>
    <td><%= sum %></td>
    <td><%=order.status %></td>
  </tr>
  <% end %>
</table>
<%= paginate @orders %>