<div class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 w-100 ">
        <h4 class="mb-4"><span class="bg-light">注文履歴一覧</span></h4>
        <table class="w-100">
          <tr class = "border-top bg-light">
            <td class="pt-2 pb-2"><strong>購入日時</strong></td>
            <td><strong>購入者</strong></td>
            <td><strong>注文個数</strong></td>
            <td><strong>注文ステータス</strong></td>
          </tr>
          <% @orders.each do |order| %>
            <% @sum = 0 %>
            <tr class = "border-top border-bottom ">
              <td class=" pt-2 pb-2"><u><%=link_to "#{order.created_at.strftime("%Y/%m/%d/%H:%M:%S")}",admin_order_path(order),class:"text-dark " %></u></td>
              <td><%=order.customer.family_name %><%=order.customer.first_name %></td>
              <% order.order_products.each do |order_product| %>
                <% @sum += order_product.quantity %>
              <% end %>
              <td><%= @sum %></td>
              <td><%=order.status_i18n %></td>
            </tr>
          <% end %>
        </table>
        <%= paginate @orders %>
      </div>
    </div>
  </div>  
</div>