<h4>注文履歴詳細</h4>
<table>
  <tr>
    <td>購入者</td>
    <td><%= link_to "#{@order.customer.family_name}#{@order.customer.first_name}",admin_customer_path(@order.customer) %></td>
  </tr>
  <tr>
    <td>注文日</td>
    <td><%= @order.created_at %></td>
  </tr>
  <tr>
    <td>配送先</td>
    <td><%= @order.address %></td>
  </tr>
  <tr>
    <td>支払い方法</td>
    <td><%= @order.payment %></td>
  </tr>
  <tr>
    <td>注文ステータス</td>
    <td><%= @order.status %></td>
    <td><%= link_to "更新",admin_order_path(@order),method: :patch %></td>
  </tr>
</table>
  
<table>
  <tr>
    <td>商品名</td>
    <td>単価(税込み)</td>
    <td>数量</td>
    <td>小計</td>
    <td>製作ステータス</td>
    <td>　</td>
  </tr>
  <% @order.order_products each do |order_product| %>
  <tr>
    <td><%= order_product.products.name %></td>
    <td><%= order_product.price %></td>
    <td><%= order_product.quantity %></td>
    <td><%= order_product.price*order_product.quantity %></td>
    <td><%= order_product.making_status %></td>
    <td><%= link_to "更新",admin_order_path(@order),method: :patch %></td>
  </tr>
  <% end %>
</table>

<span>商品合計<%= @total_price %>円</span>
<span>送料<%= @order.shipping_fee %>円</span>
<span>請求金額<%= @total_price + @order.shipping_fee %>円</span>