<h4>注文履歴詳細</h4>
<table>
  <tr>
    <td>購入者</td>
    <td><u><%= link_to "#{@order.customer.family_name}#{@order.customer.first_name}",root_path,class:"text-dark"%></u></td>
    <!-- admin_customer_path(@order.customer)% cusromerとmergeしていないため↑を仮適用-->
  </tr>
  <tr>
    <td>注文日</td>
    <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <td>配送先</td>
    <td>〒<%= @order.postal_code %><%= @order.address %></td>
  </tr>
  <tr>
    <td>支払方法</td>
    <td><%= @order.payment_i18n %></td>
  </tr>
  <tr>
    <td>注文ステータス</td>
      <td>
        <%= form_with model:@order, method: :post, local:true do |f| %>
          <%= f.select :status, Order.statuses.keys.map{|k| [k,k]}%>
        <% end %>
      </td>
    <td><%= link_to "更新",admin_order_path(@order),method: :patch %></td>
  </tr>
</table>
<table>
  <tr>
    <td>商品名</td>
    <td>単価(税込)</td>
    <td>数量</td>
    <td>小計</td>
    <td>製作ステータス</td>
  </tr>

<% 
=begin
%>
order.productsと
  <% @order.order_products each do |order_product| %>
  <tr>
    <td><%= order_product.products.name %></td>
    <td><%= order_product.price %></td>
    <td><%= order_product.quantity %></td>
    <td><%= order_product.price*order_product.quantity %></td>
    <td>
        <%= form_with order_product, method: :post do |f| %>
          <%= f.select :status, OrderProduct.making_status.keys, {} %>
        <% end %>
        <%= link_to "更新",admin_order_path(@order),method: :patch %></td>
    </td>
  </tr>
  <% end %>
</table>

<span>商品合計<%= @total_price %>円</span>
<span>送料<%= @order.shipping_fee %>円</span>
<span>請求金額<%= @invice_fee %>円</span>

<%
=end
%>