<div class="container">
 <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
   </br>
   <span class="bg-light" style="font-size: 21px;">ジャンル一覧・追加</span>

   <%= form_with model: @genre do |f| %>
     <th>ジャンル名</th>
      <%= f.text_field :name %>
      <%= f.submit '新規登録'%>
   <% end %>

   </br>
   <table class="table">
    <thead class="thead-light">
    <th>ジャンル</th>
    <th></th>
    </thead>
     <% @genres.each do |genre|%>
    <tr >
     <th>
     <%= genre.name %>
     </th>
     <th>
     <%= link_to "編集する", edit_admin_genre_path(genre),class:'btn btn-success'  %>
     </th>
    </tr>
     <% end %>
    </table>
  </div>
 </div>
</div>