<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      </br>
      <span class="bg-light" style="font-size: 21px;">商品新規登録</span>
      <%= form_with model:@product,url: admin_products_path, method: :post, local:true do |f| %>
        <h6>商品画像</h6>
        <div><%= f.attachment_field :image %></div>
        <h6>商品名</h6>
        <%= f.text_field :name %>
        <h5>商品説明</h5>
        <%= f.text_area :description%>
        <h5>ジャンル</h5>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
        <h5>税抜価格</h5>
        <%= f.text_field :price %>円
        <h5>販売ステータス</h5>
        <%= f.radio_button :is_active, true, checked: "checked" %> 販売中 <%= f.radio_button :is_active, false %> 販売停止中
        </br>
        <%= f.submit '新規登録', class:'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>