<h4>商品詳細</h4>

<%= attachment_image_tag @product, :image, :fill, 500, 500, format: 'jpeg' %>

  <h4>商品名</h4>
  <%= @product.name %>
  <h4>商品説明</h4>
  <%= @product.description %> 
  
  <h4>ジャンル名</h4>
  <%= @product.genre.name %>
  
  <h4>税込価格（税抜価格）</h4>
  <!--税込価格のやり方確認-->
  <%#= @product.price*1.1 ,(product.price) %>
  <%= @product.price*1.1 %>円
  <h4>販売ステータス</h4>
  <%= @product.is_active %>

<%= link_to "編集する", edit_admin_product_path(@product),class:'btn btn-success'  %>